
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="mt-5">
    <div class="container">
        <div class="row">
          <a href="{% url 'post-detail' object.pk %}"><i class="fas fa-arrow-left"></i></a>
          <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12">
             <form method="POST">
            {% csrf_token %}
            <h5>Are You Sure?</h5>
            <p>You are about to delete this post, this cannot be undone.</p>
             <div class="d-grid gap-2">
                 <button class="btn btn-danger mt-3">Delete</button>
             </div>
             </form>
            </div>
        </div>
        </div>
    </div> 
    </div> 
{% endblock content %}