{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  

<div class="mt-5">
    <div class="container">
        <div class="row">
          <a href="{% url 'post-detail' object.pk %}"><i class="fas fa-arrow-left"></i></a>
          <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
             <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             {{ form | crispy }}
             <div class="d-grid gap-2">
                 <button class="btn btn-success mt-3">Submit!</button>
             </div>
             </form>
            </div>
        </div>
        </div>
    </div> 
    </div> 
      
{% endblock content %}